<!-- templates/form.html -->

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>FNO Data Handler</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
<form action="/submit" method="post" id="job_form">
    <div class="form_header_container">
        <div class="form_field">
            <label for="pacs_select">PACS server:</label>
            <select name="pacs_select" id="pacs_select" required>
                <option value="">--Vyberte PACS server--</option>
                <option value="ORTHANC-localhost-4242">ORTHANC localhost:4242</option>
            </select>
        </div>
        
        <div class="form_field">
            <label for="process_select">Proces:</label>
            <select name="process_select" id="proces_select" required>
                <option value="">--Vyberte proces--</option>
                <optgroup label="Konverze datového typu">
                    <option value="dcm2mha">DICOM na MHA</option>
                    <option value="dcm2nifti">DICOM na NIFTI</option>
                </optgroup>
            </select>
        </div>

        <div class="navigation_buttons">
            <a href="/history" class="navigation_button">Historie procesů</a>
            <a href="/instructions" class="navigation_button">Instrukce</a>
        </div>
    </div>
        
    <div>
        <label for="series_uids">UID studie/série:</label>
        <textarea name="series_uids" id="series_uids" rows="5" cols="50" 
                placeholder="1.2.3.456.789.01.123.456789.123,&#10;1.2.123.456.789.123456789,&#10;..." required></textarea>
    </div>

    <div>
        <label for="notify_email">Email:</label>
        <input type="email" name="notify_email" id="notify_email" placeholder="jmeno.prijmeni@fno.cz" required/>
    </div>

    <div>
        <input type="submit" value="Poslat žádost"/>
    </div>

    <div id="job_added_msg" style="margin-top: 10px; color: green;"></div>
</form>

<h3>Aktuálně probíhající žádost</h3>
<div id="current_job" class="job_card"></div>

<h3>Čekající žádosti</h3>
<table class="job_table">
    <colgroup>
        <col style="width: 10%;"> <!-- request_id -->
        <col style="width: 10%;"> <!-- pacs -->
        <col style="width: 10%;"> <!-- process -->
        <col style="width: 30%;"> <!-- uids -->
        <col style="width: 10%;"> <!-- email -->
        <col style="width: 10%;"> <!-- date -->
        <col style="width: 10%;"> <!-- start time -->
        <col style="width: 10%;"> <!-- finish time -->
        <col style="width: 10%;"> <!-- status -->
    </colgroup>
    <thead>
        <tr>
            <th>ID požadavku</th>
            <th>PACS</th>
            <th>Proces</th>
            <th>UID</th>
            <th>Email</th>
            <th>Datum vytvoření</th>
            <th>Čas začátku</th>
            <th>Čas dokončení</th>
            <th>Stav</th>
        </tr>
    </thead>
    <tbody id="pending_jobs"></tbody>
</table>

<script>
    const current_job_div = document.getElementById("current_job");
    const pending_jobs_table = document.getElementById("pending_jobs");
    const ws = new WebSocket(`ws://${location.host}/ws/jobs`);
    
    ws.onmessage = function(event) {
        console.log("[WebSocket] message received:", event.data);
        const data = JSON.parse(event.data);
        const current = data.current_job;
        const pending = data.pending_jobs;

        current_job_div.innerHTML = '';
        pending_jobs_table.innerHTML = '';

        if (current) {
            const current_uid_cell_text = current.series_uid_list.join(",<br>")
            current_job_div.innerHTML = `
                <div class="job_card_inner">
                    <strong>ID:</strong> ${current.request_id}<br>
                    <strong>PACS:</strong> ${current.pacs.aetitle} ${current.pacs.ip}:${current.pacs.port}<br>
                    <strong>Process:</strong> ${current.process_name}<br>
                    <strong>UID:</strong> ${current_uid_cell_text}<br>
                    <strong>Email:</strong> ${current.notify_email}<br>
                    <strong>Datum vytvoření:</strong> ${current.date}<br>
                    <strong>Čas začátku:</strong> ${current.start_time}<br>
                    <strong>Čas dokončení:</strong> ${current.finish_time}<br>
                    <strong>Status:</strong> <span class="status_badge status_${current.status}">${current.status}</span>
                </div>
            `;
        } else {
            current_job_div.innerHTML = `<p> Žádná aktivní žádost</p>`;
        }

        pending_jobs.innerHTML = '';
        pending.forEach(job => {
            const row = document.createElement('tr');
            const status_class = `status_badge status_${job.status}`;
            const status_text = job.status.charAt(0).toUpperCase() + job.status.slice(1);
            const uid_cell_text = job.series_uid_list.join(",<br>")

            row.innerHTML = `
                <td>${job.request_id}</td>
                <td>${job.pacs.aetitle} ${job.pacs.ip}:${job.pacs.port}</td>
                <td>${job.process_name}</td>
                <td><div class="uid-cell">${uid_cell_text}</div></td>
                <td>${job.notify_email}</td>
                <td>${job.date}</td>
                <td>${job.start_time}</td>
                <td>${job.finish_time}</td>
                <td><span class="${status_class}">${status_text}</span></td>
            `;
            pending_jobs_table.appendChild(row);
        });
    };
</script>

<script>
    document.getElementById("job_form").addEventListener("submit", async function(e) {
    e.preventDefault();  // prevents default from submission

    const formData = new FormData(this);

    try {
        const response = await fetch("/submit", {
            method: "POST",
            body: formData,
            headers: {
                "X-Requested-With": "XMLHttpRequest"
            }
        });

        if (!response.ok) throw new Error("Network response was not ok");
        const result = await response.json();
        console.log("✅ Job submitted:", result.message);

        this.reset();
        document.getElementById("job_added_msg").textContent = "Požadavek přidán!";
    } catch (error) {
        console.error("❌ Failed to submit job:", error);
    }
});
</script>

</body>
</html>
