<!-- templates/form.html -->

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>FNO Data Handler</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
<div class="header_row">
    
    <form action="/submit" method="post" id="job_form">
        <div class="form_header_container">
            <div class="form_field">
                <div>
                    <label for="pacs_select">PACS server:</label>
                    <select name="pacs_select" id="pacs_select" required>
                        <option value="">--Vyberte PACS server--</option>
                        <option value="ORTHANC-localhost-4242">ORTHANC localhost:4242</option>
                    </select>
                </div>

                <div>
                    <label for="process_select">Proces:</label>
                    <select name="process_select" id="proces_select" required>
                        <option value="">--Vyberte proces--</option>
                        <optgroup label="Konverze datového typu">
                            <option value="dcm2mha">DICOM na MHA (dcm2mha)</option>
                            <option value="dcm2nifti">DICOM na NIFTI (dcm2nifti)</option>
                        </optgroup>
                    </select>
                </div>
            
                <div>
                    <label for="notify_email">Email:</label>
                    <input type="email" name="notify_email" id="notify_email" placeholder="jmeno.prijmeni@fno.cz" required/>
                </div>
            </div>
        </div>
        
        <div>
            <label for="uid_list">UID studie/série:</label>
            <textarea name="uid_list" id="uid_list" rows="5" cols="50" class="uids_textarea"
            placeholder="1.2.3.456.789.01.123.456789.123,&#10;1.2.123.456.789.123456789,&#10;..." required></textarea>
            <input type="file" id="uid_fileup_btn" class="uid_fileup_btn" accept="text/plain, text/csv"/>
        </div>

        <input type="submit" value="Poslat žádost"/>
    </form>

    <div class="navigation_buttons">
        <a href="/instructions" class="navigation_button">Instrukce</a>
        <a href="/history" class="navigation_button">Historie procesů</a>
        <a href="/data" class="navigation_button">Zpracované data</a>
    </div>
</div>
    
<h3>Aktuálně probíhající žádost</h3>
<div id="current_job" class="job_card">

    <div class="card_row"><strong>ID požadavku:</strong> a1b2c3d4e5</div>
    <div class="card_row"><strong>PACS:</strong> ORTHANC 192.168.100.100:2000</div>
    <div class="card_row"><strong>Proces:</strong> konverze dcm2mha</div>
    <div class="card_row"><strong>Datum vytvoření:</strong> 20-11-2025</div>
    <div class="card_row"><strong>Čas začátku:</strong> 19:20:50</div>
    <div class="card_row"><span class="status_badge status_done"> done</span></div>
</div>

<h3>Čekající žádosti</h3>
<table class="job_table">
    <colgroup>
        <col style="width: 10%;"> <!-- request_id -->
        <col style="width: 10%;"> <!-- pacs -->
        <col style="width: 10%;"> <!-- process -->
        <col style="width: 30%;"> <!-- uids -->
        <col style="width: 10%;"> <!-- email -->
        <col style="width: 10%;"> <!-- date -->
        <col style="width: 10%;"> <!-- start time -->
        <col style="width: 10%;"> <!-- finish time -->
        <col style="width: 10%;"> <!-- status -->
    </colgroup>
    <thead>
        <tr>
            <th>ID požadavku</th>
            <th>PACS</th>
            <th>Proces</th>
            <th>UID</th>
            <th>Email</th>
            <th>Datum vytvoření</th>
            <th>Čas začátku</th>
            <th>Čas dokončení</th>
            <th>Stav</th>
        </tr>
    </thead>
    <tbody id="pending_jobs"></tbody>
</table>

<script src="{{ url_for('src', path='form_script.js') }}"></script>

</body>
</html>
