<!-- templates/history.html-->

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Historie požadavků | FNO Data Handler</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">

</head>

<body>
    <div style="display: flex; gap: 10px">
        <a href="/submit" class="navigation_button">Požadavky</a>
        <a href="/data" class="navigation_button">Zpracované data</a>
        <a href="/instructions" class="navigation_button">Instrukce</a>
    </div>

    <table class="job_table">
        <colgroup>
            <col style="width: 10%;"> <!-- request_id -->
            <col style="width: 12.5%;"> <!-- pacs -->
            <col style="width: 10%;"> <!-- task -->
            <col style="width: 30%;"> <!-- uids -->
            <col style="width: 10%;"> <!-- email -->
            <col style="width: 10%;"> <!-- date -->
            <col style="width: 10%;"> <!-- start time -->
            <col style="width: 10%;"> <!-- finish time -->
            <col style="width: 10%;"> <!-- status -->
        </colgroup>
        <thead>
            <tr>
                <th>ID</th>
                <th>PACS</th>
                <th>Proces</th>
                <th>UID</th>
                <th>Email</th>
                <th>Datum vytvoření</th>
                <th>Čas začátku</th>
                <th>Čas dokončení</th>
                <th>Stav</th>
            </tr>
        </thead>
        <tbody id="history_table"></tbody>
    </table>
      
<script src="{{ url_for('static', path='history.js') }}"></script>
      
</body>
</html>